---
const { allPosts } = Astro.props;

let books = allPosts
	.sort(
		(a, b) =>
			new Date(b.frontmatter.updated || b.frontmatter.added).valueOf() -
			new Date(a.frontmatter.updated || a.frontmatter.added).valueOf()
	);
---

<content>
	<ul class="posts-list">
		{
      books.map(book => {
        const { Content } = book;

        return (
          <li class="post">
            <Content />
          </li>
        )
      })
		}
	</ul>
</content>
